code { white-space: pre-wrap;}
span.smallcaps { font-variant: small-caps; }
span.underline { text-decoration: underline; }
div.column { display: inline-block; vertical-align: top; width: 50%; }
a.sourceLine { padding: 0 0 0 10px; }
.numberLines a.sourceLine { padding: 0; }

a.sourceLine { display: inline-block; line-height: 1.2; font-size: 1em; }
a.sourceLine { pointer-events: none; color: inherit; text-decoration: inherit; }
a.sourceLine:empty { height: 1em; }
.sourceCode { overflow: visible; }
code.sourceCode { white-space: pre; position: relative; }
div.sourceCode { margin: 1em 0; }
pre.sourceCode { margin: 0; }
@media screen {
div.sourceCode { overflow: auto; }
}
@media print {
code.sourceCode { white-space: pre-wrap; }
a.sourceLine { text-indent: -1em; padding-left: 1em; }
}
pre.numberSource a.sourceLine
  { position: relative; left: -4.2em; }
pre.numberSource a.sourceLine::before
  { content: attr(title);
    position: relative; left: -0.8em; text-align: right; vertical-align: baseline;
    border: none; pointer-events: all; display: inline-block;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4.2em;
    background-color: #232629;
    color: #7a7c7d;
  }
pre.numberSource { margin-left: 2.8em; border-left: 1px solid #7a7c7d; padding-left: 0px; }
div.sourceCode
  { color: #cfcfc2; background-color: #232629; }
@media screen {
a.sourceLine::before { text-decoration: underline; }
}
code span { color: #cfcfc2; } /* Normal */
code span.al { color: #95da4c; } /* Alert */
code span.an { color: #3f8058; } /* Annotation */
code span.at { color: #ddd9ac; } /* Attribute */
code span.bn { color: #f67400; } /* BaseN */
code span.bu { color: #7f8c8d; } /* BuiltIn */
code span.cf { color: #ba8ec0; } /* ControlFlow */
code span.ch { color: #3daee9; } /* Char */
code span.cn { color: #639ed3; } /* Constant */
code span.co { color: #769355; } /* Comment */
code span.cv { color: #7f8c8d; } /* CommentVar */
code span.do { color: #a43340; } /* Documentation */
code span.dt { color: #a1d2f0; } /* DataType */
code span.dv { color: #bbcaa8; } /* DecVal */
code span.er { color: #da4453; } /* Error */
code span.ex { color: #0099ff; } /* Extension */
code span.fl { color: #bbcaa8; } /* Float */
code span.fu { color: #ddd9ac; } /* Function */
code span.im { color: #ba8ec0; } /* Import */
code span.in { color: #c45b00; } /* Information */
code span.kw { color: #639ed3; } /* Keyword */
code span.op { color: #cfcfc2; } /* Operator */
code span.ot { color: #cfcfc2; } /* Other */
code span.pp { color: #27ae60; } /* Preprocessor */
code span.re { color: #2980b9; } /* RegionMarker */
code span.sc { color: #3daee9; } /* SpecialChar */
code span.ss { color: #da4453; } /* SpecialString */
code span.st { color: #c5937c; } /* String */
code span.va { color: #73c3ad; } /* Variable */
code span.vs { color: #da4453; } /* VerbatimString */
code span.wa { color: #da4453; } /* Warning */
