<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Adam Fiedler">
    <title>$title$ | Adam Fiedler</title>
    <meta name="description" content="$teaser$">
    <meta property="og:title" content="$title$ | Adam Fiedler">
    <meta property="og:description" content="$teaser$">
    <meta property="og:type" content="article">
    <meta property="og:article:author" content="Adam Fiedler">
    <meta property="og:url" content="https://fiedler.sk$url$">
    <meta property="og:image" content="https://fiedler.sk/images/tile.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
    $if(pdf)$
    <link rel="alternate" type="application/pdf" media="print" href="/$pdf$">
    $endif$
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->
</head>
<body>
    <header>
        <div class="logo">
            <div class="round">
                <img src="/images/av.png" alt="Adam Fiedler - Silhouette">
            </div>
            <div class="caption">Adam Fiedler</div>
        </div>
        <nav>
            <a href="/">Recent</a>
            $cats$
            <a href="/about">About</a>
        </nav>
    </header>
    <main role="main">
        <div class="title">
            <h1>$title$</h1>
            $if(pdf)$
            <a href="/$pdf$" rel="print" title="Save as PDF" class="pdf">
                <i class="fa fa-print"></i>
            </a>
            $endif$
        </div>
        $body$
    </main>
    <div class="social">
        <a class="em" href="mailto:info@fiedlr.sk"><i class="fa fa-envelope"></i></a>
        <a class="tw" href="https://twitter.com/fiedlr"><i class="fa fa-twitter"></i></a>
        <a class="li" href="https://linkedin.com/in/fiedlr"><i class="fa fa-linkedin"></i></a>
        <a class="gh" href="https://github.com/fiedlr"><i class="fa fa-github"></i></a>
    </div>
    <footer>
        &copy; Adam Fiedler 2020
        <div class="heart">
            Running with &hearts; on
            <a href="https://jaspervdj.be/hakyll">Hakyll</a>. Here's the <a href="https://github.com/fiedlr/fiedlr">source</a>.
        </div>
    </footer>
    $if(mathjax)$
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML" async></script>
    $endif$
</body>
</html>
